* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: lightseagreen;
    display: flex;
    height: 60px;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
}

