html {
    font-size: 70%;
}

.header-div {
    width: 70%;
    margin-top: 30px;
    min-width: 600px;
    max-width: 1000px;
}
.grid {
    width: 90%;
    margin-top: 30px;
    min-width: 600px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30%, 1fr));
    gap: 5px;
}
.resp-wight-145 {
    min-width: 180px;
    height: 210px;
}
.resp-wight-23 {
    min-width: 330px;
    height: 210px;
}
.photo4 {
    min-width: 180px;
    height: 425px;
}
footer {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 30px;
}